.login-page {
    width: 100%;
    min-height: 100vh;
    background-image: url("https://www.shutterstock.com/image-photo/corporate-data-management-system-dms-260nw-338687519.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
    overflow-y: auto;
}

.login-card {
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: black;
    gap: 20px;
    width: 90%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
}

.login-button {
    background-color: #50c7c7 !important;
    color: white !important;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.login-header .icon {
    width: 20%;
    height: 20%;
    color: teal;
}
