.login-page {
    width: 100%;
    min-height: 100vh;
     background: var(--login-bg-gradient);
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-y: auto;
}

.login-card {
    box-shadow: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
    width: 90%;
    max-width: 500px;
    background-color: var(--bg-card);
}


.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.login-header .icon{
    width: 20%;
    height: 20%;
    color: #004e92;
}
