.login-page {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #004e92, #000428, #6a11cb);
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-y: auto;
}

.login-card {
    box-shadow: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    justify-content: space-between;
    padding: 30px;
    color: black;
    gap: 20px;
    width: 90%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
}

.login-button{
    background-color: #50c7c7;
    color: white;
}

.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.login-header .icon{
    width: 20%;
    height: 20%;
    color: teal;
}
