.login-page {
    width: 100%;
    height: 100rem;
    background-image: url("https://www.shutterstock.com/image-photo/corporate-data-management-system-dms-260nw-338687519.jpg");
    background-size: cover;      /* full screen */
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    }

.login-card {
    box-shadow: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    justify-content: space-between;
    padding: 40px;
    color: black;
    gap: 20px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.9);
}

.login-button{
    background-color: #50c7c7;
    color: white;
}