.login-page {
    width: 100%;
    min-height: 100vh;
     background: var(--login-bg-gradient);
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-y: auto;
}

.login-card {
    box-shadow: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
    width: 90%;
    max-width: 500px;
    background-color: var(--bg-card);
}

/* .animated-gradient {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ff7e5f, #86a8e7, #91eae4);
  background-size: 200% 200%;
  animation: gradientMove 4s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */




.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.login-header .icon{
    width: 20%;
    height: 20%;
    color: #004e92;
}
