.nef-container{
    text-align: center;
    padding: 40px 20px;
    color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.search-off-icon {
    font-size: 80;
    color: grey.500;
    margin-bottom: 2;   
}

.nef-container .add-btn{
    text-transform: none;
    font-size: 16px;
     font-weight: 550 ;
    border-radius: 8px;
}
.nef-container .add-btn:hover {
  background-color: #125aa5 !important;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  transform: translateY(-1px);
}