.nef-container{
    text-align: center;
    padding: 40px 20px;
    color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.search-off-icon {
    font-size: 80;
    color: grey.500;
    margin-bottom: 2;   
}

.nef-container .add-btn{
    text-transform: none;
    font-size: 16px;
    border-radius: 8px;
}